:root{

    --white: #fff;
    --black: #000;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;

    --blue-500: #1C8ADB;

    --green-800: #0B2E16;
    --green-700: #114E28;
    --green-600: #5E8847;
    --green-500: #145A32;
    --green-400: #2E7D3C;
    --green-300: #59A56A;
    --green-200: #9BD49B;
    --green-100: #E6F6EA;

    --green-c: #00C853;
    --green-500: #30591D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--white);
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding-bottom: 228px;
    min-height: 100vh;
}

body,input,textarea,button{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: var(--green-800);
}

::-webkit-scrollbar-thumb{
    background-color: var(--green-600);
    border-radius: 5px;
}

button,
[role="button"] {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

button:focus,
[role="button"]:focus {
    outline: 2px solid var(--blue-500);
    outline-offset: 2px;
}

.btn-reset {
    background: transparent;
    border: none;
    padding: 0;
}