#contraste.carrossel{
  background: black;
}

.carrossel{
  position: relative;
  z-index: -1;
  padding-top: 140px;
  background: var(--green-500);
}

.filtro{
  display: none;
}

@media (max-width: 760px){
  .carrossel{
    display: none;
  }

  .filtro{
    display: block;
    text-align: center;
    padding-top: 85px;
    color: var(--green-700);
  }

  #contraste.filtro{
    background-color: black;
    color: var(--white);
  }

}

